<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gonorus.makancepatkurir">

    <!-- PERMISSION STATEMENT -->
    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_makancepat"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <receiver android:name=".rest.ReminderReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SERVICE STATEMENT -->
        <service android:name=".rest.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".rest.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- AVTIVITY LIST -->
        <activity android:name=".view.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ActivityHome"
            android:label="@string/title_activity_home"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".view.ActivityEditProfile"
            android:label="@string/title_activity_edit_profil"
            android:parentActivityName=".view.ActivityEditProfile"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ActivityHome" />
        </activity>
        <activity
            android:name=".view.ActivitySearchResult"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".view.ActivityVerifikasiEmail" />
        <activity android:name=".view.ActivityLogin" />
        <activity android:name=".view.ActivityRegistration" />
        <activity android:name=".view.ActivityDetailProfile" />
        <activity android:name=".view.ActivityChangePassword" />
        <activity android:name=".view.ActivityPermission" />
        <activity android:name=".view.ActivityTransaction"></activity>
    </application>

</manifest>